<%= simple_form_for establishments_path, remote: true, html: { method: 'GET', class: 'custom-filters-v1', id: "establishments-filter" } do |f| %>
  <div class="filter-form-row">
    <div class="filter-form-col" hidden>
      <div class="form-group">
        <input class="form-control" 
               autocomplete="off" 
               type="text" 
               name="filter[cuie]" 
               id="filter_cuie" 
               placeholder="CUIE"
               value="<%= get_value_from_filter(:cuie) %>">
        <label>CUIE</label>
      </div>
    </div>
    <div class="filter-form-col">
      <div class="form-group">
        <input class="form-control" 
               autocomplete="off" 
               type="text" 
               name="filter[name]" 
               id="filter_name" 
               placeholder="Nombre"
               value="<%= get_value_from_filter(:name) %>">
        <label>Nombre</label>
      </div>
    </div>
    <div class="filter-form-col">
      <div class="form-group">
        <select class="form-control custom-select <%= 'filled' if get_value_from_filter(:establishment_type) != '' %>" name="filter[establishment_type]" onChange="mark_selected(event)">
          <option value="" ></option>
           <% types=Establishment.options_for_establishment_type %>
          <% types.each do |option| %>
            <option value='<%=option[1] %>' <%= 'selected' if get_value_from_filter(:establishment_type) == option[1].to_s %>><%=option[0]%></option>
            <% end %>
          </select>
          <label>Tipo</label>
        </div>
      </div>
      <input type="hidden" name="filter[sort]" value="<%= get_value_from_filter(:sort) %>">
      <input type="hidden" name="per_page" value="<%= params[:per_page] || 15 %>">
      <div class="filter-form-btn-group">
        <button class="btn btn-primary" type="submit" form="<%= "establishments-filter" %>">
          Buscar
        </button>
        <button class="btn btn-danger btn-clean-filters" type="button" form="<%= "establishments-filter" %>">
          <%= fa_icon 'times' %>
        </button>
      </div>
    </div>
  <% end %>
