<% content_for :modal do %>
  <%= render(partial: 'shared/modals/delete_confirmation') %>
<% end %>
<% content_for :footer_extra_info do %>
  <div class="col-3 d-flex justify-content-around align-items-center">
    <div>
      Recetas <span class="badge badge-secondary"><%= @total %></span>
    </div>
    <div>
      Pendientes <span class="badge badge-secondary"><%= @total_pending %></span>
    </div>
  </div>
<% end %>
<%#########################################################################################################%>
<%= render 'prescriptions/header' %>
<div class="card fixed-custom-card">
  <div class="card-header">
    <%= render 'prescriptions/outpatient_prescriptions/partials/filter' %>
  </div>
  <div class="card-body fixed-panel-index">
    <% if @outpatient_prescriptions.present? %>
      <div id="table_results">
        <%= render(
          partial: 'prescriptions/outpatient_prescriptions/partials/list',
          locals: { outpatient_prescriptions: @outpatient_prescriptions }
        ) %>
      </div>
    <% else %>
      <%= render(
        partial: 'shared/not_found_filter',
        locals: { object_name: 'recetas' }
      ) %>
    <% end %>
  </div>
  <div class="card-footer" id="paginate_footer">
    <%= render(
          partial: 'shared/paginate_index',
          locals: { model: @outpatient_prescriptions }
        ) %>
  </div>
</div>
