<%= simple_form_for  outpatient_prescriptions_path, remote: true, html: { method: 'GET', class: 'custom-filters-v1', id: 'outpatient-prescriptions-filter'} do |f| %>
  <div class="filter-form-row">
    <div class="filter-form-col">
      <div class="form-group">
        <input class="form-control" 
               autocomplete="off" 
               type="text" 
               name="filter[code]" 
               id="filter_code" 
               placeholder="Código"
               value="<%= get_value_from_filter(:code) %>">
        <label>Código</label>
      </div>
    </div>
    <div class="filter-form-col">
      <div class="form-group">
        <input class="form-control" 
               autocomplete="off" 
               type="text" 
               name="filter[professional_full_name]" 
               id="filter_professional_full_name" 
               placeholder="Médico: Apellido / Nombre"
               value="<%= get_value_from_filter(:professional_full_name) %>">
        <label>Médico: Apellido / Nombre</label>
      </div>
    </div>
    <div class="filter-form-col">
      <div class="form-group">
        <input class="form-control" 
               autocomplete="off" 
               type="text" 
               name="filter[patient_full_name]" 
               id="filter_patient_full_name" 
               placeholder="Paciente: Apellido / Nombre / DNI"
               value="<%= get_value_from_filter(:patient_full_name) %>">
        <label>Paciente: Apellido / Nombre / DNI</label>
      </div>
    </div>
    <div class="filter-form-col">
      <div class="form-group">
        <input class="form-control datepicker" 
               autocomplete="off" 
               type="text" 
               name="filter[date_prescribed_since]" 
               id="filter_date_prescribed_since" 
               placeholder="Prescripta desde: dd/mm/aaaa"
               value="<%= get_value_from_filter(:date_prescribed_since) %>">
        <label>Prescripta desde: dd/mm/aaaa</label>
      </div>
    </div>
    <div class="filter-form-col">
      <div class="form-group">
        <input class="form-control datepicker" 
               autocomplete="off" 
               type="text" 
               name="filter[date_prescribed_to]" 
               id="filter_date_prescribed_to" 
               placeholder="Prescripta hasta: dd/mm/aaaa"
               value="<%= get_value_from_filter(:date_prescribed_to) %>">
        <label>Prescripta hasta: dd/mm/aaaa</label>
      </div>
    </div>
    <div class="filter-form-col">
      <div class="form-group">
        <select class="form-control custom-select <%= 'filled' if get_value_from_filter(:status) != '' %>" name="filter[status]" onChange="mark_selected(event)">
          <option value="" ></option>
          <% OutpatientPrescription.statuses.each do |option| %>
            <option value='<%=option[1] %>' <%= 'selected' if get_value_from_filter(:status) == option[1].to_s %>><%=option[0]%></option>
            <% end %>
          </select>
          <label>Estado</label>
        </div>
      </div>
      <input type="hidden" name="filter[sort]" value="<%= get_value_from_filter(:sort) %>">
      <input type="hidden" name="per_page" value="<%= params[:per_page] || 15 %>">
      <div class="filter-form-btn-group">
        <button class="btn btn-primary" type="submit" form="outpatient-prescriptions-filter">
          Buscar
        </button>
        <button class="btn btn-danger btn-clean-filters" type="button" form="outpatient-prescriptions-filter">
          <%= fa_icon 'times' %>
        </button>
      </div>
    </div>
  <% end %>
