<%= simple_form_for  outpatient_prescriptions_path, remote: true, html: { method: 'GET', class: 'custom-filters-v1', id: 'outpatient-prescriptions-filter'} do |f| %>
  <div class="filter-form-row">
    <div class="filter-form-col">
      <div class="form-group">
        <input class="form-control" 
               autocomplete="off" 
               type="text" 
               name="filter[code]" 
               id="filter_code" 
               placeholder="Código"
               value="<%= get_value_from_filter(:code) %>">
        <label>Código</label>
      </div>
    </div>
    <div class="filter-form-col">
      <div class="form-group">
        <input class="form-control" 
               autocomplete="off" 
               type="text" 
               name="filter[professional_full_name]" 
               id="filter_professional_full_name" 
               placeholder="Médico: Apellido / Nombre"
               value="<%= get_value_from_filter(:professional_full_name) %>">
        <label>Médico: Apellido / Nombre</label>
      </div>
    </div>
    <div class="filter-form-col">
      <div class="form-group">
        <input class="form-control" 
               autocomplete="off" 
               type="text" 
               name="filter[patient_full_name]" 
               id="filter_patient_full_name" 
               placeholder="Paciente: Apellido / Nombre / DNI"
               value="<%= get_value_from_filter(:patient_full_name) %>">
        <label>Paciente: Apellido / Nombre / DNI</label>
      </div>
    </div>
    
    <div class="filter-form-col">
      <div class="form-group">
        <input class="form-control datepicker" 
               autocomplete="off" 
               type="text" 
               name="filter[date_prescribed_since]" 
               id="filter_date_prescribed_since" 
               placeholder="Prescripta desde: dd/mm/aaaa"
               value="<%= get_value_from_filter(:date_prescribed_since) %>">
        <label>Prescripta desde: dd/mm/aaaa</label>
      </div>
    </div>
    <div class="filter-form-col">
      <div class="form-group">
        <input class="form-control datepicker" 
               autocomplete="off" 
               type="text" 
               name="filter[date_prescribed_to]" 
               id="filter_date_prescribed_to" 
               placeholder="Prescripta hasta: dd/mm/aaaa"
               value="<%= get_value_from_filter(:date_prescribed_to) %>">
        <label>Prescripta hasta: dd/mm/aaaa</label>
      </div>
    </div>
    <input type="hidden" name="filter[sort]" value="<%= get_value_from_filter(:sort) %>">
   
    <%# <div class="col"> %>
      <%# <label>Ordernar por</label> %>
      <%#= f.select(:sorted_by,
        @filterrific.select_options[:sorted_by].map {
          |status| [status.first, status.second]
        },{},
        { class: "selectpicker-md show-tick custom-select-pick", "data-width"=>"100%"}) %>
    <%# </div> %>
    
  <div class="filter-form-btn-group">
      <button class="btn btn-primary" type="submit" form="outpatient-prescriptions-filter">
        Buscar
      </button>

      <%= link_to outpatient_prescriptions_path, class: 'btn btn-danger' do %>
        <%= fa_icon 'times' %>
      <% end %>
  </div>
  </div>
<% end %>