<tr id="outpatient_prescription_<%= outpatient_prescription.id %>">
  <td><%= highlight(outpatient_prescription.remit_code, get_value_from_filter(:code)) %></th>
  <td class="pres-col-pro">
    <%= highlight(outpatient_prescription.pr_fullname, 
                  get_value_from_filter(:professional_full_name), 
                  highlighter: '<mark class="highlight-1">\1</mark>',
                  ignore_special_chars: true ) %>
  </td>
  <%# Si esta definida la variable y esta en true debemos ocultar el campo%>
  <% if !defined?(hide_patient) || (defined?(hide_patient) && !hide_patient) %>
    <td class="pres-col-pat">
      <%= highlight(outpatient_prescription.pa_full_info, 
                    get_value_from_filter(:patient_full_name),
                    highlighter: '<mark class="highlight-2">\1</mark>',
                    ignore_special_chars: true) %>
    </td>
  <% end %>
  <td>
    <span class="badge badge-<%= outpatient_prescription_status_label(outpatient_prescription) %>">
      <%= outpatient_prescription.status.underscore.humanize %>
    </span>
  </td>
  <td>
   <%= highlight(outpatient_prescription.establishment_name, 
                    get_value_from_filter(:establishment_name),
                    highlighter: '<mark class="highlight-2">\1</mark>',
                    ignore_special_chars: true) %>
  </td>
  <td>
    <% if outpatient_prescription.date_prescribed.present? %>
      <%= outpatient_prescription.date_prescribed.strftime("%d/%m/%Y") %>
    <% else %>
      ------
    <% end %>
  </td>
  <td class="text-left actions-col">
    <div class="d-flex">
      <% if policy(outpatient_prescription).dispense? %>
        <%= link_to dispense_outpatient_prescription_path(outpatient_prescription), :"data-turbolinks" => false,
          class: 'btn btn-primary btn-sm mr-1 ml-1',
          title: 'Dispensar', 
          target: (dispense_target if defined?(dispense_target)),
          data: { toggle: 'tooltip', placement: 'top' } do %>
          <%= fa_icon "paper-plane" %>
        <% end %>
      <% end %>
      <%= render(
        partial: 'shared/action_buttons',
        locals:{ 
            object: outpatient_prescription, 
            show: {visible: true, target: (show_target if defined?(show_target) )},
            edit: {visible: true, target: (edit_target if defined?(edit_target) )},
            destroy: {
              visible: true, 
              title: "Eliminar prescripción",
              body: "Esta seguro que desea eliminar la prescripción de #{ outpatient_prescription.pr_fullname }?",
              path: "#{outpatient_prescription_path(outpatient_prescription)}"
            }
          }
        ) 
      %>
    </div>
  </td>
</tr>
