<div class="card fixed-panel-list">
  <table class="table table-hover table-striped table-sm">
    <thead >
      <tr>
        <%= th_label name: 'Código', form: 'products-filter', sort_field: 'code', icon_type: 'alpha' %>
        <%= th_label name: 'Nombre', form: 'products-filter', sort_field: 'name', icon_type: 'alpha' %>
        <%= th_label name: 'Estado' %>
        <%= th_label name: 'Unidad' %>
        <%= th_label name: 'Rubro' %>
        <%= th_label name: 'Acciones' %>
      </tr>
    </thead>
    <tbody id="products">
            <%= render(partial: 'products/partials/product', collection: @products, as: :product) %>
    </tbody>
  </table>
</div>
