<%= simple_form_for patients_path, remote: true, html: { method: 'GET', class: 'custom-filters-v1', id: "patients-filter" } do |f| %>
  <div class="filter-form-row">
    <div class="filter-form-col">
      <div class="form-group">
        <input class="form-control" 
               autocomplete="off" 
               type="text" 
               name="filter[dni]" 
               id="filter_dni" 
               placeholder="DNI"
               value="<%= get_value_from_filter(:dni) %>">
        <label>Dni</label>
      </div>
    </div>
    <div class="filter-form-col">
      <div class="form-group">
        <input class="form-control" 
               autocomplete="off" 
               type="text" 
               name="filter[full_name]" 
               id="filter_full_name" 
               placeholder="Apellido|Nombre|Apellido y nombre"
               value="<%= get_value_from_filter(:full_name) %>">
        <label>Apellido|Nombre|Apellido y nombre</label>
      </div>
    </div>
    <input type="hidden" name="filter[sort]" value="<%= get_value_from_filter(:sort) %>">
    <input type="hidden" name="per_page" value="<%= params[:per_page] || 15 %>">
    <div class="filter-form-btn-group">
      <button class="btn btn-primary" type="submit" form="<%= "patients-filter" %>">
        Buscar
      </button>
      <button class="btn btn-danger btn-clean-filters" type="button" form="<%= "patients-filter" %>">
        <%= fa_icon 'times' %>
      </button>
    </div>
  </div>
<% end %>
