<div class="card fixed-custom-card">
  <div class="card-header bg-primary text-white d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center ml-2">
      <%= fa_icon "plus" %>
      <h5 class="card-title mb-0 ml-2">
        Nuevo reporte
      </h5>
    </div>
    <%= link_to :back, class: 'btn text-white' do %>
      <%= fa_icon "times" %>
    <% end %>
  </div>
  <div class="card-body">
    <%= simple_form_for @report, html: { role: 'check-modified'} do |f| %>
      <%= f.error_notification %>
      <input type="hidden" name="report[product_ids]">
      <input type="hidden" name="report[patient_ids]">
      <% Report.report_types.each do |type| %>
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="report_type" name="report[report_type]" required value="<%= type[1] %>">
          <label class="custom-control-label" for="report_type"><%= type[0] %></label>
        </div>
      <% end %>

      <%# Products  %>
      <div>
        <div class="form-group">
          <label for="products-search">Productos</label>
          <div id="selected-products"></div>
          <input type="text" class="form-control" id="products-search" data-url="<%= get_stock_products_reports_path %>">
        </div>
        <ul id="products-list">
          <%= render(partial: 'reports/partials/stock_products') %>
        </ul>
      </div>
      
      <%# Petients %>
      <div>
        <div class="form-group">
          <label for="patients-search">Pacientes</label>
          <div id="selected-patients"></div>
          <input type="text" class="form-control" id="patients-search" data-url="<%= get_patients_by_sector_reports_path %>">
        </div>
        <ul id="patients-list">
          <%= render(partial: 'reports/partials/sector_patients') %>
        </ul>
      </div>

    <%end%>
  </div>

  <div class="card-footer d-flex justify-content-end">
    <%#= link_to 'Volver', new_report_path, class: 'btn btn-light mr-2' %>
    <button type='submit' name='commit' class='btn btn-success' form="new_report">
      <%= fa_icon 'save' %> Guardar
    </button>
  </div>
</div>