<div class="card fixed-custom-card">
  <div class="card-header bg-primary text-white d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center ml-2">
      <%= fa_icon "plus" %>
      <h5 class="card-title mb-0 ml-2">
        Nuevo reporte
      </h5>
    </div>
    <%= link_to :back, class: 'btn text-white' do %>
      <%= fa_icon "times" %>
    <% end %>
  </div>
  <div class="card-body">
    <%= simple_form_for @report, html: { role: 'check-modified'} do |f| %>
      <%= f.error_notification %>
      <input type="hidden" name="report[products_ids]" value="<%= @report.products_ids if @report.products_ids.present? %>">
      <input type="hidden" name="report[patients_ids]" value="<%= @report.patients_ids if @report.patients_ids.present? %>">
      <input type="hidden" name="report[sectors_ids]" value="<%= @report.sectors_ids if @report.sectors_ids.present? %>">
      <div class="form-group">
        <label for="name">Nombre</label>
        <input class="form-control <%= 'is-invalid' if @errors.present? && @errors[:name].present? %>" 
              autocomplete="off" 
              type="text" 
              name="report[name]" 
              id="name" 
              placeholder="Nombre"
              value="<%= @report.name if @report.name.present? %>">
        <% if @errors.present? && @errors[:name].present? %>
          <div class="invalid-feedback d-block">
            Nombre <%= @errors[:name].first %>
          </div>
        <% end %>
      </div>
      <hr>
      <% Report.report_types.each do |type| %>
        <% if policy(:report).report_by?("report_#{type[0]}s")%>
          <div class="custom-control custom-radio" >
            <input type="radio" 
                 class="custom-control-input <%= 'is-invalid' if @errors.present? && @errors[:report_type].present? %>" 
                 id="<%= type[0] %>" 
                 name="report[report_type]" 
                 required 
                 value="<%= type[0] %>"
                 <%= 'checked' if @report.report_type.present? && @report.report_type == type[0] %> >
            <label class="custom-control-label" for="<%= type[0] %>">
              <%=  t("activerecord.attributes.report.report_type.#{type[0]}") %>
            </label>
          </div>
        <%end%>
      <% end %>
      <% if @errors.present? && @errors[:report_type].present? %>
        <div class="invalid-feedback d-block">
          Tipo de reporte <%= @errors[:report_type].first %>
        </div>
      <% end %>
      <hr>
      <%# Dates %>
      <div>
        <div class="form-group">
          <label for="report_from_date">Desde: dd/mm/aaaa</label>
          <input class="form-control datepicker <%= 'is-invalid' if @errors.present? && @errors[:from_date].present? %>" 
                autocomplete="off" 
                type="text" 
                name="report[from_date]" 
                id="report_from_date" 
                placeholder="Desde: dd/mm/aaaa"
                value="<%= @report.from_date.strftime("%d/%m/%Y") if @report.from_date.present? %>">
          <% if @errors.present? && @errors[:from_date].present? %>
            <div class="invalid-feedback d-block">
              Fecha desde <%= @errors[:from_date].first %>
            </div>
          <% end %>
        </div>
        <div class="form-group">
          <label>Hasta: dd/mm/aaaa</label>
          <input class="form-control datepicker <%= 'is-invalid' if @errors.present? && @errors[:to_date].present? %>" 
                autocomplete="off" 
                type="text" 
                name="report[to_date]" 
                id="report_to_date" 
                placeholder="Hasta: dd/mm/aaaa"
                value="<%= @report.to_date.strftime("%d/%m/%Y") if @report.to_date.present? %>">
          <% if @errors.present? && @errors[:to_date].present? %>
            <div class="invalid-feedback d-block">
              Fecha hasta <%= @errors[:to_date].first %>
            </div>
          <% end %>
        </div>
      </div>
      <hr>
      <%# Products  %>
      <div id="products-module">
        <label for="products-search" class="mb-0">Productos</label>
        <div id="products-selection-container">
          <div id="selected-products">
            <% if @selected_products.present? %>
              <% @selected_products.each do |product|%>
                <%= render(partial: 'reports/partials/selected_product', locals: { product: product })%>
              <%end %>
            <%end %>
          </div>
          <div class="input-group mb-0">
            <input type="text" 
                   class="form-control <%= 'is-invalid' if @errors.present? && @errors[:products_ids].present? %>" 
                   id="products-search" 
                   data-url="<%= get_stock_products_reports_path %>" 
                   data-target="#products-collapse" 
                   autocomplete="off" 
                   placeholder="Producto: Código | Nombre">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#products-collapse">
                <%= fa_icon 'caret-down' %>
              </button>
            </div>
            <% if @errors.present? && @errors[:products_ids].present? %>
              <div class="invalid-feedback d-block">
                <%= @errors[:products_ids].first %>
              </div>
            <% end %>
          </div>
          <div class="collapse" id="products-collapse">
            <div class="card card-body">
              <ul id="products-list" class="mb-0">
                <%= render(partial: 'reports/partials/stock_products') %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <%# Patients %>
      <% if policy(:report).report_by?("report_by_patients")%>
        <div id="patients-module" <%= select_report_type(@report.report_type,'by_patients')%>>
          <label for="patients-search" class="mb-0">Pacientes</label>
          <div id="patients-selection-container">
            <div id="selected-patients">
              <% if @selected_patients.present? %>
                <% @selected_patients.each do |patient|%>
                  <%= render(partial: 'reports/partials/selected_patient', locals: { patient: patient })%>
                <%end %>
              <%end %>
            </div>
            <div class="input-group mb-0">
              <input type="text" 
                   class="form-control <%= 'is-invalid' if @errors.present? && @errors[:patients_ids].present? %>" 
                   id="patients-search" 
                   autocomplete="off" 
                   data-url="<%= get_patients_by_sector_reports_path %>" 
                   data-target="#patients-collapse"
                   placeholder="Paciente: DNI | Apellido | Nombre">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#patients-collapse">
                  <%= fa_icon 'caret-down' %>
                </button>
              </div>
              <% if @errors.present? && @errors[:patients_ids].present? %>
                <div class="invalid-feedback d-block">
                  <%= @errors[:patients_ids].first %>
                </div>
              <% end %>
            </div>
            <div class="collapse" id="patients-collapse">
              <div class="card card-body">
                <ul id="patients-list" class="mb-0">
                  <%= render(partial: 'reports/partials/sector_patients') %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <%# Sectors %>
      <% if policy(:report).report_by?("report_by_sectors")%>
        <div id="sectors-module" <%= select_report_type(@report.report_type,'by_sectors')%>>
          <label for="sectors-search" class="mb-0">Sectores</label>
          <div id="sectors-selection-container">
            <div id="selected-sectors">
              <% if @selected_sectors.present? %>
                <% @selected_sectors.each do |sector|%>
                  <%= render(partial: 'reports/partials/selected_sector', locals: { sector: sector })%>
                <%end %>
              <%end %>
            </div>
            <div class="input-group mb-0">
              <input type="text" 
                   class="form-control <%= 'is-invalid' if @errors.present? && @errors[:sectors_ids].present? %>" 
                   id="sectors-search" 
                   autocomplete="off" 
                   data-url="<%= get_sectors_reports_path %>" 
                   data-target="#sectors-collapse"
                   placeholder="Sector:Nombre">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#sectors-collapse">
                  <%= fa_icon 'caret-down' %>
                </button>
              </div>
              <% if @errors.present? && @errors[:sectors_ids].present? %>
                <div class="invalid-feedback d-block">
                  <%= @errors[:sectors_ids].first %>
                </div>
              <% end %>
            </div>
            <div class="collapse" id="sectors-collapse">
              <div class="card card-body">
                <ul id="sectors-list" class="mb-0">
                  <%= render(partial: 'reports/partials/sectors') %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <%end #form%>
  </div>
  <div class="card-footer d-flex justify-content-end">
    <%= link_to 'Volver', reports_path, class: 'btn btn-light mr-2' %>
    <button type='submit' name='commit' class='btn btn-success' form="new_report">
      <%= fa_icon 'save' %> Guardar
    </button>
  </div>
</div>
