<% content_for :modal do %>
  <%= render(partial: 'shared/modals/delete_confirmation') %>
<% end %>
<%= render 'sectors/internal_orders/header' %>
<div class="card fixed-custom-card">
  <div class="card-header">
     <%= render(
          partial: 'sectors/partials/filter',
          locals: { sectors: @sectors }
        ) %>
  </div>
  <div class="card-body fixed-panel-index">
   <% if @sectors.present? %>
      <div id="table_results">
        <%= render(
          partial: 'sectors/partials/list',
          locals: { products: @sectors }
        ) %>
      </div>
    <% else %>
      <%= render(
        partial: 'shared/not_found_filter',
        locals: { object_name: 'sectores' }
      ) %>
    <% end %>
  </div>
  <div class="card-footer" id="paginate_footer">
    <%= render(
          partial: 'shared/paginate_index',
          locals: { model: @products, form_id: 'sectors-filter' }
        ) %>
  </div>
</div>

