<%= render 'sectors/internal_orders/header' %>
<div class="card fixed-custom-card">
  <div class="card-header">
    <%= form_for_filterrific @filterrific do |f| %>
      <div class="d-flex align-items-center">
        <%= fa_icon "filter" %>
        <%= f.text_field(
                :search_name,
                class: 'filterrific-periodically-observed form-control input-sm ml-2 w-25',
                placeholder: 'Nombre'
                  ) %>
        <%= %>
        <%= render_filterrific_spinner %>
      </div>
    <% end %>
  </div>
  <div class="card-body fixed-panel-index">
    <% if @sectors.present? %>
      <div id="filterrific_results">
        <%= render(
          partial: 'list',
          locals: { sectors: @sectors }
        ) %>
      </div>
    <% else %>
      <%= render(
        partial: 'shared/not_found_filter',
        locals: { object_name: 'sectores' }
      ) %>
    <% end %>
  </div>
</div>
<% content_for :modal do %>
  <div id="modals">
    <%= render(partial: 'shared/modals/delete_confirmation') %>
  </div>
<% end %>
