<% content_for :title, "Stock" %>

<% content_for :page_header do %>
  <li class="nav-item">
    <%= link_to stocks_path, class: "nav-link #{active_action_and_controller('index', 'stocks')}" do %>
      <%= fa_icon "cubes" %>
      Stock
    <% end %>
  </li>
  
  <li class="nav-item">
    <%= link_to lot_stocks_path, class: "nav-link #{active_action_and_controller('index', 'lot_stocks')}" do %>
      <%= fa_icon "barcode" %>
      Lotes
    <% end %>
  </li>

  <% if policy(Receipt).index? %>
    <li class="nav-item non-sel">
      <%= link_to receipts_path, class: "nav-link #{ active_action_and_controller(['index', 'show'], 'receipts') }" do %>
        <%= fa_icon "receipt" %>
        Recibos
      <% end %>
    </li>
  <% end %>
  
  <% if policy(Receipt).new? %>
    <li class="nav-item non-sel">
      <%= link_to new_receipt_path, class: "nav-link #{ active_action_and_controller('new', 'receipts') }" do %>
        <%= fa_icon "receipt" %>
        Cargar por recibo
      <% end %>
    </li>
  <% end %>
<% end %>