<% content_for :title, "Usuarios" %>

<% content_for :page_header do %>
  <%= render 'users/partials/header' %>
<% end %>

<div class="card fixed-custom-card">
  <div class="card-header">
    <%= render(
          partial: 'users/partials/filter',
          locals: { users: @users }
        ) %>
  </div>
  <div class="card-body fixed-panel-index">
    <% if @users.present? %>
      <div id="table_results">
        <%= render(
          partial: 'users/partials/list',
          locals: { users: @users }
        ) %>
      </div>
    <% else %>
      <%= render(
        partial: 'shared/not_found_filter',
        locals: { object_name: 'users' }
      ) %>
    <% end %>
  </div>
  <div class="card-footer" id="paginate_footer">
    <%= render(
          partial: 'shared/paginate_index',
          locals: { model: @users, form_id: 'users-filter' }
        ) %>
  </div>
</div>

