<!--  Panel Esttablecimiento -->
<div class="card">
  <div class="card-header d-flex justify-content-between">
    <div>
      <span class="navbar-brand">
        <%= fa_icon "hospital" %>
        Establecimientos
      </span>
    </div>
    <ul class="nav nav-tabs card-header-tabs" id="title-chart">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#order-origin">Origen
          <span class="badge badge-secondary"><%= @external_orders_origin.count %></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#order-destination">Destino
          <span class="badge badge-secondary"><%= @external_orders_destination.count %></span>
        </a>
      </li>
    </ul>
    <div class="d-flex align-items-center">
      <%= link_to external_orders_providers_path, class: 'btn btn-secondary btn-sm' do %>
        Ver más
      <% end %>
    </div>
  </div>
  <div class="panel-body">
    <div class="tab-content">
      <div id="order-origin" class="tab-pane fade show active">
        <%= bar_chart charts_by_order_type_external_orders_my_orders_path,
          label: "Cantidad",
          adapter: "highcharts" %>
      </div>
      <div id="order-destination" class="tab-pane fade show">
        <%= bar_chart charts_by_order_type_external_orders_other_orders_path,
          label: "Cantidad",
          adapter: "highcharts" %>
      </div>
    </div>
  </div>
</div>