<%= render 'header' %>

<div class="dashboard-grid">
  
  <%# Prescripciones %>
  <%= render 'prescriptions' %>
  <%# Ordenes stock %>
  <%= render 'stock' %>
  <%# Ordenes internas %>
  <%= render 'internal_orders' %>
  <%# Ordenes externas %>
  <%= render 'external_orders' %>
</div>