<%= simple_form_for external_orders_xpath, remote: true, html: { method: 'GET', class: 'custom-filters-v1', id: "external-orders-filter" } do |f| %>
  <div class="filter-form-row">
    <div class="filter-form-col">
      <div class="form-group">
        <input class="form-control" 
               autocomplete="off" 
               type="text" 
               name="filter[code]" 
               id="filter_code" 
               placeholder="Código"
               value="<%= get_value_from_filter(:code) %>">
        <label>Código</label>
      </div>
    </div>
    <%= yield(:field_filters) %>
    <div class="filter-form-col">
      <div class="form-group">
        <div class="filter-form-col">
          <div class="form-group">
            <%= select_tag :status,options_for_select(ExternalOrder.order_types),include_blank:true,id:'filter_with_order_type',name:'filter[with_order_type]',class:'form-control custom-select',onchange:"mark_selected(event)" %>
            <label>Tipo</label>
          </div>
        </div>
      </div>
    </div>
    <div class="filter-form-col">
      <div class="form-group">
        <div class="filter-form-col">
          <div class="form-group">
            <%= select_tag :status,options_for_select(ExternalOrder.statuses),include_blank:true,id:'filter_with_status',name:'filter[with_status]',class:'form-control custom-select',onchange:"mark_selected(event)" %>
            <label>Estado</label>
          </div>
        </div>
      </div>
    </div>
    <input type="hidden" name="filter[sort]" value="<%= get_value_from_filter(:sort) %>">
    <input type="hidden" name="per_page" value="<%= params[:per_page] || 15 %>">
    <div class="filter-form-btn-group">
      <button class="btn btn-primary" type="submit" form="<%= "external-orders-filter" %>">
        Buscar
      </button>
      <button class="btn btn-danger btn-clean-filters" type="button" form="<%= "external-orders-filter" %>">
        <%= fa_icon 'times' %>
      </button>
    </div>
  </div>
<% end%>
