<%= render 'establishments/external_orders/header' %>

<div class="card fixed-custom-card">
  <div class="card-header <%= @external_order.new_record? ? 'bg-primary text-white' : 'bg-warning' %> d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center ml-2">
      <%= fa_icon (@external_order.new_record? ?  "plus" : "edit")%>
      <h5 class="card-title mb-0 ml-2">
        <%= @external_order.new_record? ? "Nueva #{@external_order.order_type} de establecimiento" : "Editando #{@external_order.order_type} de establecimiento
        código #{@external_order.remit_code}" %>
      </h5>
    </div>
    <%= link_to :back, class: @external_order.new_record? ? 'btn text-white' : 'btn' do %>
      <%= fa_icon "times" %>
    <% end %>
  </div>
  <div class="card-body">
 
      <div class="row">
        <div class="col-6 border-right">
          <%= yield(:form_edit) %>
        </div>

        <%= yield(:last_list) %>
      </div>
  </div>

  <div class="card-footer d-flex justify-content-end">
    <%= yield(:action_buttons) %>
  </div>
</div>