<% content_for :title, "Usuarios" %>

<% content_for :page_header do %>
  <%= render 'users/partials/header' %>  
<% end %>

<div class="card fixed-custom-card">
  <div class="card-header d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <%= fa_icon "lock" %>
      <h5 class="card-title mb-0 ml-2" id="edit-title">
        <%= render 'permissions/partials/edit_title' %>
      </h5>
    </div>
  </div>
  <div class="card-body">
    <%= simple_form_for 'permission_users', url: update_permissions_users_admin_path(@user), remote: true, html: { method: 'PUT', name: 'permission_users', id: 'permission_users', novalidate: true} do |f| %>
      <div class="row">
        <div class="col-3 border-right">
          <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex">
              <img src="<%= user_avatar(@user, 25) %>" onError='loadImage(event, "<%= image_path('profile-placeholder.jpg') %>")' class="rounded-circle mr-2 user-thumbnail-40" />
              <div>
                <p class="mb-0"><%= @user.full_name %></p>
                <p class="mb-0"><%= @user.profile.dni %></p>
              </div>
            </div>
          </div>
          <div class="mt-2" id="location_select_container">
            <%= render "permissions/partials/location_select"%>
          </div>
        </div>
        <div class="col-9">
          <% if @permission_request.present? %>
            <%= render( partial: 'permissions/partials/request_permission_info' ) %>
          <% end %>
          <div id="permissions_list">
            <%= render( partial: 'permissions/partials/list' ) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="card-footer d-flex justify-content-end">
    <%= link_to 'Volver', :back, class: 'btn btn-light mr-2' %>
    <button type='submit' name='commit' class='btn btn-secondary btn-success' form='permission_users'>
      <%= fa_icon 'save' %> Guardar
    </button>
  </div>
</div>
<% content_for :available_sectors_count do %>
  <%= @user.sectors.count %>
<% end %>
<% content_for :available_sectors do %>
  <%= render "permissions/partials/available_sectors" %>
<% end %>
<% content_for :select_sector do %>
  <%= render "permissions/partials/select_sector" %>
<% end %>
<% content_for :modal do %>
  <%= render "shared/modals/sector_selection" %>
  <%= render(partial: 'shared/modals/delete_confirmation') %>
<% end %>
