<%= render 'header' %>
<div class="card fixed-custom-card">
  <div class="card-header">
  <%= render(
          partial: 'patients/partials/filter',
          locals: { products: @patients }
        ) %>
 
  </div>
  <div class="card-body fixed-panel-index">
   <% if @patients.present? %>
      <div id="table_results">
        <%= render(
          partial: 'patients/partials/list',
          locals: { patientss: @patients }
        ) %>
      </div>
    <% else %>
      <%= render(
        partial: 'shared/not_found_filter',
        locals: { object_name: 'productos' }
      ) %>
    <% end %>
</div>
<% content_for :modal do %>
  <div id="modals">
    <%= render(partial: 'shared/modals/delete_confirmation') %>
  </div>
<% end %>