<%= simple_form_for 'users', remote: true, html: { method: 'GET', class: 'custom-filters-v1', id: "users-filter" } do |f| %>
  <div class="filter-form-row">
    <div class="filter-form-col">
      <div class="form-group">
        <input class="form-control" 
               autocomplete="off" 
               type="text" 
               name="filter[username]" 
               id="filter_username" 
               placeholder="Dni"
               value="<%= get_value_from_filter(:username) %>">
        <label>Dni</label>
      </div>
    </div>
    <div class="filter-form-col">
      <div class="form-group">
        <input class="form-control" 
               autocomplete="off" 
               type="text" 
               name="filter[fullname]" 
               id="filter_fullname" 
               placeholder="Nombre o apellido"
               value="<%= get_value_from_filter(:fullname) %>">
        <label>Nombre</label>
      </div>
    </div>
    <div class="filter-form-col">
      <div class="form-group">
        <select  data-live-search="true" class="form-control selectpicker-md
         custom-select-pick "  name="filter[establishment]" id="filter_establishment">
          <option value="">Seleccionar establecimiento</option>
          <% Establishment.all.each do |establishment| %>
            <option value='<%= establishment.id %>' ><%= establishment.name %></option>
          <%  end %>
        </select>
      </div>
    </div>
    <div class="filter-form-col">
      <div class="form-group">
        <select  data-live-search="true" class="form-control selectpicker-md
         custom-select-pick "  name="filter[sector]" id="filter_sector">
        </select>
      </div>
    </div>
    <div class="filter-form-col">
      <div class="form-group">
        <select class="form-control custom-select <%= 'filled' if get_value_from_filter(:status) != '' %>" name="filter[status]" onChange="mark_selected(event)">
          <option value="" ></option>
          <option value='1' <%= 'selected' if get_value_from_filter(:status) == '1' %>>Activo</option>
            <option value='2' <%= 'selected' if get_value_from_filter(:status) == '2' %>>Inactivo</option>
          </select>
          <label>Estado</label>
        </div>
      </div>
      <input type="hidden" name="filter[sort]" value="<%= get_value_from_filter(:sort) %>">
            <input type="hidden" name="per_page" value="<%= params[:per_page] || 15 %>">
            <div class="filter-form-btn-group">
              <button class="btn btn-primary" type="submit" form="<%= "users-filter" %>">
                Buscar
              </button>
              <button class="btn btn-danger btn-clean-filters" type="button" form="<%= "users-filter" %>">
                <%= fa_icon 'times' %>
              </button>
            </div>
          </div>
        <% end %>
