<div class="card fixed-panel-list">
  <table class="table table-hover table-striped table-sm">
    <thead >
      <tr>
        <th></th>
        <%= th_label name: 'Usuario', form: 'users-filter', sort_field: 'username', icon_type: 'numeric' %>
        <%= th_label name: 'Apellido', form: 'users-filter', sort_field: 'profiles.last_name', icon_type: 'alpha' %>
        <%= th_label name: 'Nombre', form: 'users-filter', sort_field: 'profiles.first_name', icon_type: 'alpha' %>
        <%= th_label name: 'Establecimiento-Sector activo' %> 
        <% #,form: 'users-filter', sort_field: 'establishment_name', icon_type: 'alpha' %>
        <%= th_label name: 'Email' %>
        <%= th_label name: 'Estado' %>
        <%= th_label name: 'Sectores' %>
        <%= th_label name: 'Última conexión' %>
        <%= th_label name: 'Acciones' %>
      </tr>
    </thead>
    <tbody id="users">
      <%= render(partial: 'users/partials/user', collection: @users, as: :user) %>
    </tbody>
  </table>
</div>
