<% content_for :title, "Usuarios" %>

<% content_for :page_header do %>
  <%= render 'users/partials/header' %>
<% end %>

<div class="card fixed-custom-card">
  <div class="card-header">
    <%= form_for_filterrific @filterrific do |f| %>
      <div class="row d-flex justify-content-start">
        <div class="col-1 d-flex justify-content-end align-items-center">
          <%= render_filterrific_spinner %>
          <%= link_to permission_requests_path(reset: true), class: 'btn btn-secondary ml-2',
            title: 'Reiniciar', data: { toggle: 'tooltip', placement: 'top' } do %>
            <%= fa_icon 'redo' %>
          <% end %>
        </div>
        <div class="col-3">
          <label>Nombre</label>
          <%= f.text_field(
              :search_name,
              class: 'filterrific-periodically-observed form-control',
              placeholder: 'Nombre'
            ) %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="card-body fixed-panel-index">
    <%= render(
      partial: 'permission_requests/partials/list',
      locals: { permission_requests: @permission_requests }
    ) %>
  </div>
</div>
