<tr id="lot_<%= lot.id %>">
  <td><%= lot.code %></td>
  <td><%= lot.product_code %></td>
  <td><%= lot.product_name %></td>
  <td><span class="badge badge-<%= lot_status_label(lot) %>"><%= lot.status.humanize %></td>
  <td><%= lot.laboratory_name %></td>
  <td><%= lot.expiry_date_string %></td>
  <td class="text-left actions-col">
    <%= render(
      partial: 'shared/action_buttons',
      locals:{ 
        object: lot, 
        show: {visible: true, target: (show_target if defined?(show_target) )},
        edit: {visible: true, target: (edit_target if defined?(edit_target) )},
        destroy: {
          visible: true, 
          title: "Eliminar lote",
          body: "Esta seguro que desea eliminar el lote #{ lot.code }?",
          path: lot_url(lot.id)
        }
      }
    ) 
    %>
  </td>
</tr>
