<%= render 'establishments/external_orders/header' %>
<div class="card fixed-custom-card">
  <div class="card-header">
    <%= render "establishments/external_orders/providers/partials/filter" %>
  </div>
  <div class="card-body fixed-panel-index">
    <% if @provider_orders.present? %>
      <div id="table_results">
        <%= render(
          partial: 'establishments/external_orders/providers/partials/list',
          locals: { applicant_orders: @provider_orders }
        ) %>
      </div>
    <% else %>
      <%= render(
        partial: 'shared/not_found_filter',
        locals: { object_name: 'Solicitudes' }
      ) %>
    <% end %>
  </div>
  <div class="card-footer" id="paginate_footer">
    <%= render(
          partial: 'shared/paginate_index',
          locals: { model: @provider_orders, form_id: 'external-orders-filter' }
        ) %>
  </div>
</div>