<tr id="sanitary_zones_<%= sanitary_zone.id %>">
  <div class="js-fade fade-in is-paused">
    <td><%= sanitary_zone.name %></td>
    <td><%= sanitary_zone.cities.count %></td>
    <td><%= sanitary_zone.establishments.count %></td>
    <td><%= sanitary_zone.users.count %></td>
    <td class="text-left actions-col">
      <%= render(
        partial: 'shared/action_buttons',
        locals:{ 
          object: sanitary_zone, 
          show: {visible: true, target: (show_target if defined?(show_target) )},
          edit: {visible: true, target: (edit_target if defined?(edit_target) )},
          destroy: {
            visible: true, 
            title: "Eliminar zona sanitaria",
            body: "Esta seguro que desea eliminar el zona sanitaria #{ sanitary_zone.name }?",
            path: sanitary_zone_url(sanitary_zone.id)
          }
        }
      ) 
      %>
    </td>
  </div>
</tr>
