<%= render 'header' %>

<div class="card fixed-custom-card">
  <div class="card-header d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <%= fa_icon "eye" %>
      <h5 class="card-title mb-0 ml-2">
        Viendo zona sanitaria <%= @sanitary_zone.name %>
      </h5>
    </div>
    <%= link_to sanitary_zones_path, class: 'btn' do %>
      <%= fa_icon 'times' %>
    <% end %>
  </div>


  <div class="card-body">
    <p class="mt-2">
      <strong>Zona: </strong><%= @sanitary_zone.name %>
    </p>
    <p class="mt-2">
      <strong>Provincia: </strong><%= @sanitary_zone.state.name %>
    </p>
  </div>

  <div class="card-footer d-flex justify-content-end">
    <%= link_to 'Volver', sanitary_zones_path, class: "btn btn-light mr-2" %>
    <% if policy(@sanitary_zone).edit? %>
      <%= link_to edit_sanitary_zone_path(@sanitary_zone), :"data-turbolinks" => false, class: "btn btn-warning" do %>
        <%= fa_icon "pen" %>
        Editar
      <% end %>
    <% end %>
  </div>
</div>
