<% content_for :modal do %>
  <%= render(partial: 'shared/modals/delete_confirmation') %>
<% end %>

<% content_for :footer_extra_info do %>
  <div class="col-3 d-flex justify-content-around align-items-center">
    <div>
      Recetas <span class="badge badge-secondary"><%= @total %></span>
    </div>
    <div>
      Pendientes <span class="badge badge-secondary"><%= @total_pending %></span>
    </div>
    <div>
      Dispensadas parcial <span class="badge badge-primary"><%= @total_pending_dispense %></span>
    </div>
  </div>
<% end %>
<%##############################################################################################%>
<%= render 'prescriptions/header' %>
<div class="card fixed-custom-card">
  <div class="card-header">
    <%= render 'shared/prescription_orders/filter', form_pathx: chronic_prescriptions_path, statuses: ChronicPrescription.statuses, form_id: 'chronic-prescriptions-filter' %>
  </div>
  <div class="card-body fixed-panel-index">
    <% if @chronic_prescriptions.present? %>
      <div id="table_results">
        <%= render(
          partial: 'prescriptions/chronic_prescriptions/partials/list',
          locals: { chronic_prescriptions: @chronic_prescriptions }
        ) %>
      </div>
    <% else %>
      <%= render(
        partial: 'shared/not_found_filter',
        locals: { object_name: 'recetas' }
      ) %>
    <% end %>
  </div>
  <div class="card-footer" id="paginate_footer">
    <%= render(
          partial: 'shared/paginate_index',
          locals: { model: @chronic_prescriptions, form_id: 'chronic-prescriptions-filter' }
        ) %>
  </div>
</div>
