<div>
  <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#sector-selection" id="open-sectors-select-modal">
    Agregar sector <%= fa_icon 'plus' %>
  </button>
  <ul class="mt-3" id ="sectors-list">
    <% @user.user_sectors.each do |us| %>
      <li>
        <input type="hidden" name="permission[user_sectors_attributes][<%= us.sector_id %>][_destroy]" value="0">
        <input type="hidden" name="permission[user_sectors_attributes][<%= us.sector_id %>][sector_id]" value="<%= us.sector_id %>">
        <input type="hidden" name="permission[user_sectors_attributes][<%= us.sector_id %>][id]" value="<%= us.id %>">
        <a href="<%= permission_change_sector_users_admin_path(active_sector_id: us.sector_id) %>" 
           class="btn btn-sector <%= 'active' if @active_sector.id == us.sector_id %>" 
           data-remote="true" onclick="toggleLoading();">
          <%= us.sector.name %> - <%= us.sector.establishment.name%>
        </a>
      </li>
    <%end%>
  </ul>
  <% if @active_sector.present? %>
    <input type="hidden" name="active_sector_id" value="<%= @active_sector.id%>">
  <% end %>
</div>
<% if @user.user_sectors.present? && @active_sector.present? %>
  <%# permission_request %>
  <% if @applied_permission_request.present? %>
    <input type="hidden" name="permission[permission_request_id]" value="<%= @applied_permission_request.id %>">
  <% end%>
  <%# roles %>
  <div class="mt-2">
    <p class="mb-1">Modulos</p>
    <% @roles.each do |role| %>
      <input type="hidden" name="permission[user_roles_attributes][<%= role.id %>][_destroy]" value="<%= !@user.user_roles.map(&:role_id).include?(role.id) %>">
      <input type="hidden" name="permission[user_roles_attributes][<%= role.id %>][sector_id]" value="<%= @active_sector.id %>">
      <input type="hidden" name="permission[user_roles_attributes][<%= role.id %>][role_id]" value="<%= role.id %>">
      <div class="custom-control custom-checkbox mb-1">
        <input type="checkbox" 
               class="custom-control-input" 
               id="role-<%=role.id%>" 
               required 
               <%= 'checked' if @user.user_roles.any?{|us| us.role_id == role.id && us.sector_id == @active_sector.id }%>>
        <label class="custom-control-label" for="role-<%=role.id%>"><%= role.name %></label>
      </div>
    <% end %>
  </div>
<% end %>
