<div>
  <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#sector-selection" id="open-sectors-select-modal">
    Agregar sector <%= fa_icon 'plus' %>
  </button>
  <ul class="mt-3">
    <% @user.user_sectors.each do |us| %>
      <li>
        <input type="hidden" name="permission[user_sectors_attributes][<%= us.sector_id %>][_destroy]" value="0">
        <input type="hidden" name="permission[user_sectors_attributes][<%= us.sector_id %>][sector_id]" value="<%= us.sector_id %>">
        <input type="hidden" name="permission[user_sectors_attributes][<%= us.sector_id %>][id]" value="<%= us.id %>">
        <button class="btn btn-primary">
          <%= us.sector.name %> - <%= us.sector.establishment.name%>
        </button>
      </li>
    <%end%>
  </ul>
</div>
<% if @user.user_sectors.present? %>
  <%# roles %>
  <div class="mt-2">
    <p class="mb-1">Modulos</p>
    <% @roles.each do |role| %>
      <div class="custom-control custom-checkbox mb-1">
        <input type="checkbox" class="custom-control-input" id="role-<%=role.id%>" required <%= 'checked' if @user.user_roles.map(&:role_id).include?(role.id)%>>
        <label class="custom-control-label" for="role-<%=role.id%>"><%= role.name %></label>
      </div>
    <% end %>
  </div>
<% end %>
