<div class="alert alert-warning fade show" role="alert">
  <p><strong>Nueva solicitud de permisos:</strong></p>
  <p>
    <strong>Establecimiento indicado:</strong> <%= @user.permission_requests.last.establishment.present? ? @user.permission_requests.last.establishment.name : @user.permission_requests.last.other_establishment %>. <strong>Sector indicado:</strong> <%= @user.permission_requests.last.sector.present? ? @user.permission_requests.last.sector.name : @user.permission_requests.last.other_sector %>.
  </p>
  <p class="mb-0">
    <strong>Funciones seleccionadas:</strong>
  </p>
  <ul>
    <% @user.permission_requests.last.roles.each do |role| %>
      <li><%= role.name %></li>
    <% end %>
  </ul>
  <p><strong>Observaciones:</strong> <%= @user.permission_requests.last.observation %>.</p>
  <hr>
  <div class="text-right">
    <button class="btn btn-sm btn-danger">Anular</button>
    <%= link_to 'Aplicar', build_from_request_users_admin_path, remote: true, class: 'btn btn-sm btn-success' %>
  </div>
</div>
