<div class="alert alert-warning fade show" role="alert" id="permission-request-summary">
  <p><strong>Nueva solicitud de permisos:</strong></p>
  <p>
    <strong>Establecimiento indicado:</strong> <%= @permission_request.establishment.present? ? @permission_request.establishment.name : @permission_request.other_establishment %>. <strong>Sector indicado:</strong> <%= @permission_request.sector.present? ? @permission_request.sector.name : @permission_request.other_sector %>.
  </p>
  <p class="mb-0">
    <strong>Funciones seleccionadas:</strong>
  </p>
  <ul>
    <% @permission_request.roles.each do |role| %>
      <li><%= role.name %></li>
    <% end %>
  </ul>
  <p><strong>Observaciones:</strong> <%= @permission_request.observation %>.</p>
  <hr>
  <div class="text-right">
    <button type="button" 
      class="btn btn-danger btn-sm mr-1 ml-1"
      data-target="#reject-permission-request"
      data-toggle="modal">
        Anular
    </button>
    <a href="<%= build_from_request_users_admin_path %>" data-remote="true" class="btn btn-sm btn-success" onclick="toggleLoading();">
      Aplicar
    </a>
  </div>
</div>
