<tr id="product_<%= product.id %>">
  <td><%= product.code %></td>
  <td><%= product.name %></td>
  <td>
    <span class="badge badge-<%= product_status_label(product) %>">
      <%= Product.human_enum_name(:status, product.status) %>
    </span>
  </td>
  <td><%= product.unity_name %></td>
  <td><%= product.area_name %></td>
  <td class="text-left actions-col">
    <%= render(
      partial: 'shared/action_buttons',
      locals:{ 
        object: product, 
        show: {visible: true, target: (show_target if defined?(show_target) )},
        edit: {visible: true, target: (edit_target if defined?(edit_target) )},
        destroy: {
          visible: true, 
          title: "Eliminar producto",
          body: "Esta seguro que desea eliminar el producto #{ product.name }?",
          path: product_url(product.id)
        }
      }
    ) 
    %>
  </td>
</tr>
