<%= render 'reports/partials/header' %>
<div class="card fixed-custom-card">
  <div class="card-header d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <%= fa_icon "eye" %>
      <h5 class="card-title mb-0 ml-2">
        Viendo reporte
      </h5>
    </div>
  </div>
  <div class="card-body">
    <div>
      <%= @report.sector_name %>
      <%= @report.establishment_name %>
    </div>
    <div>
      <table class="table table-hover table-striped table-condensed">
        <% if @report.report_type==="by_sector"%>
          <%= render(
              partial: 'reports/partials/by_sectors',
              locals: { report: @report }
              ) 
          %>
          <%else %>
          <%= render(
              partial: 'reports/partials/by_patient',
              locals: { report: @report }
              ) 
          %>
        <% end %>
        
      </table>
    </div>
  </div>
  <div class="card-footer d-flex justify-content-end">
    <%= link_to 'Volver', sectors_path, class: 'btn btn-light mr-2' %>
    <%= link_to report_path(format: 'xlsx', id: @report.id), 
      class: "btn btn-success mr-2", id: "print-report", target: :_blank do %>
      <%= fa_icon "download" %> Excel
    <% end %>
  </div>
</div>
