<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= (yield(:title) + " - " unless yield(:title).blank?).to_s + "SIFAHO" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "SIFAHO App farmacia HSMA" %>">
    <%= favicon_link_tag 'sifaho-favicon.png' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= tag :meta, name: :psj, action: action_name, controller: controller_path %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= yield(:head) %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="flash_messages" class="alert-container">
      <%= render "layouts/flash_notices" %>
    </div>
    <% if user_signed_in? %>
      <div id="wrapper" class="<%= @current_user.profile.theme%> <%= 'toggled' if @current_user.profile.hide? %>">
        <!-- General Navbar -->
        <%= render 'layouts/navigation' %>
        <!-- Flash message -->
        <!-- Page Content -->
        <div class="d-flex" id="wrapper-2">
          <!-- Sidebar -->
          <% if policy(:dashboard).sidebar? && policy(:welcome).index?%>
            <%= render 'layouts/side_navigation' %>
          <% end %>

          <div id="page-content-wrapper" class="<%= 'w-100' unless policy(:welcome).index?%>">
            <div class="pt-3 container-fluid h-100">
              <!-- Main yield -->
              <%= yield %>

              <div class="request-loading" id="loading">
                <%= fa_icon 'spinner', class: 'fa-spin' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <!-- Sign in Content -->
      <div id="session-wrapper">
        <div id="session-page" class="container-fluid ml-auto mr-auto">
          <%= yield %>
        </div>
        <div id="province-logo" class="d-flex align-items-center justify-content-between ml-3 mr-3">
          <div class="d-flex">
            <%= image_tag("logo_01.svg", alt: "Logo Sifaho", class: "province-logo") %>
            <%= image_tag("logo_02.svg", alt: "Logo Sifaho", class: "province-logo") %>
            <%= image_tag("logo_03.svg", alt: "Logo Sifaho", class: "province-logo") %>
          </div>
          <!--div class="ml-2 mr-2 support-wpp">
            <a href="https://wa.me/+5492944408853" target="_blank" title="Soporte"><i class="fab fa-whatsapp"></i> <span>Soporte +54 9 2972 40-8853</span></a>
          </div-->
        </div>
      </div>
    <% end %>
  </body>
  <footer>
    <!-- Modal -->
    <%= render "shared/modals/dialog" %>
    <%= render "shared/modals/confirmation_unsaved" %>
    <%= yield(:modal) %>    
  </footer>
</html>
