<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= (yield(:title) + " - " unless yield(:title).blank?).to_s + "SIFAHO" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "SIFAHO App farmacia HSMA" %>">
    <%= favicon_link_tag 'sifaho-favicon.png' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= tag :meta, name: :psj, action: action_name, controller: controller_path %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= yield(:head) %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="flash_messages" class="alert-container">
      <%= render "layouts/flash_notices" %>
    </div>
    <% if user_signed_in? && policy(:welcome).index? %>
      <div id="wrapper" class="<%= current_user.profile.theme%> <%= 'toggled' if current_user.profile.hide? %>">
        <!-- General Navbar -->
        <%= render 'layouts/navigation' %>
        <!-- Flash message -->
        <!-- Page Content -->
        <div class="d-flex" id="wrapper-2">
          <!-- Sidebar -->
          <% if policy(:dashboard).sidebar? %>
            <%= render 'layouts/side_navigation' %>
          <% end %>

          <div id="page-content-wrapper">
            <div class="pt-3 container-fluid h-100">
              <!-- Main yield -->
              <%= yield %>

              <div class="request-loading" id="loading">
                <%= fa_icon 'spinner', class: 'fa-spin' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <!-- Sign in Content -->
      <div id="session-wrapper">
        <%= yield %>
      </div>
    <% end %>
  </body>
  <footer>
    <!-- Modal -->
    <%= render "shared/modals/dialog" %>
    <%= render "shared/modals/confirmation_unsaved" %>
    <%= yield(:modal) %>    
  </footer>
</html>
